@page "/"

<h1>Blazored FluentValidation Sample</h1>

<hr class="mb-5" />

<EditForm EditContext="@editContext">
    <FluentValidationValidator @ref="fluentValidationValidator" DisableAssemblyScanning="true" />
    <ValidationSummary />
</EditForm>
<br />
<button @onclick="Validate">Validate</button>

@code {
    private Animal animal;

    private EditContext editContext;
    private FluentValidationValidator fluentValidationValidator;

    protected override async Task OnInitializedAsync()
    {
        this.animal = new Pet
        {
            Address = new Address()
        };
        this.editContext = new EditContext(this.animal);

        await base.OnInitializedAsync();
    }

    private void Validate()
    {
        if (this.editContext.Validate())
        {
            Console.WriteLine("Form Submitted Successfully!");
        }
    }
}